@model SIEVK.Domain.Common.Pegawai
        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Details</title>
            <style>
                .controls {
                    margin-bottom: 20px;
                    margin-right: 10px;
                }
            </style>
        </head>
        <body>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

    <div class="span12" >
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }

        <div class="widget">
            <div class="widget-header">
                <i class="icon-file"></i>
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="widget-content">
                @*<form class="form-horizontal" action="#" method="POST">*@
                <fieldset>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label" for="NIP">NIP</label>
                        <div class="controls">
                            <div class="col-sm-3">
                                @if (Model != null)
                                {
                                    <div id="NIP">
                                        <label class="value-label" for="NIP">: @(Model.NIP)</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Golongan">Golongan</label>
                        <div class="controls">
                            <div class="col-sm-5">
                                @if (Model != null)
                                {
                                    <div id="Golongan">
                                        <label class="value-label" for="UserName">: @(Model.PANGKAT)</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="UserGroup">Unit</label>
                        <div class="controls">
                            <div class="col-sm-5">
                                @if (Model != null)
                                {
                                    <div id="UserGroupName">
                                        <label class="value-label" for="UserName">: @(Model.KdUnit) @(Model.NmUnit)</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Nama">Nama</label>
                        <div class="controls">
                            <div class="col-sm-5">
                                @if (Model != null)
                                {
                                    <div id="FirstName">
                                        <label class="value-label" for="UserName">: @(Model.NAMA)</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="ALAMAT">Alamat</label>
                        <div class="controls">
                            <div class="col-sm-5">
                                @if (Model != null)
                                {
                                    <div id="LastName">
                                        <label class="value-label" for="UserName">: @(Model.ALAMAT)</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="JABATAN">Jabatan</label>
                        <div class="controls">
                            <div class="col-sm-5">
                                @if (Model != null)
                                {
                                    <div id="LastName">
                                        <label class="value-label" for="UserName">: @(Model.JABATAN)</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="PDDK">Pendidikan</label>
                        <div class="controls">
                            <div class="col-sm-5">
                                @if (Model != null)
                                {
                                    <div id="LastName">
                                        <label class="value-label" for="UserName">: @(Model.PDDK)</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                    @*Button Action*@
                    <div class="form-actions">
                        <button type="button" class="btn btn-primary" onclick="location.href='@if (Model != null){ @Html.Raw(@Url.Content("~/Pegawai/Edit/?nip=") + Model.NIP + "/");}'"><i class="btn-icon-only icon-edit"></i>Ubah</button>
                        <button type="button" class="btn btn-default" id="btnClose"><i class="btn-icon-only icon-reply"> Kembali </i></button>
                    </div>
                </fieldset>
                @*</form>*@
            </div>
        </div>
    </div>

            }

        </body>
    </html>

    <script type="text/javascript">
        jQuery(document).ready(function () {
           
        });
        jQuery("#btnClose").click(function () { jQuery(location).attr("href", "@Html.Raw(@Url.Content("~/Pegawai/Index/"))"); });

    </script>

